@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  body {
    font-family: 'Poppins', sans-serif;
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-primary-500 selection:text-white;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm;
  }
  .glass-dark {
    @apply bg-slate-900/80 backdrop-blur-lg border border-slate-700/50 shadow-xl;
  }
}